/* Home section styles */

.home {
  background-color: #fef8f5!important;
}

.home__part {
  margin-top: 50px!important;
}

/* About us section styles */
.about__us-img {
  width: 500px;
  height: 600px;
}

/* Services section styles */
.services {
  background-color: #fef8f5!important;
}
.icons {
  color: #ef7f4d;

}
.bent {
  margin: 0 0 40px;
  border-radius: 15px;
}


/* Portfolio section styles */
.active-link {
  color: #ef7f4d!important;
}

.portfolio-link {
  color: #212529;
  transition: color 0.5s ease;
}

.portfolio-link:hover {
  color: #ef7f4d;
}